// variables
// ============

$ro-layout: (
  container: 1150px,
  columns: 12,
  gutter: 20px,
);

// size
$global-gutter: 30px;
$site-head: 240px, 210px, 180px, 150px;

// z-index
$z-index: (
);

// breakpoint
$bp: (
);

// font
$Roboto: "'Roboto Condensed', sans-serif ";
$PTSans: "'PT Sans Narrow', sans-serif ";
$helvetica: "'Helvetica Neue', Helvetica, Arial, sans-serif";
$arial: "Arial, Helvetica, sans-serif";
$opensans: "'Open Sans', Arial, sans-serif";
$lato: "'Lato', Arial, sans-serif";
$oswald: "'Oswald', Arial, sans-serif";
$georgia: "Georgia, 'Times New Roman', Times, Baskerville, serif";

// color
$color: (
  'brand': #4e4438,
  'title' :#464646,
  'text01': #4f4f4f,
  'text02': #505050,
  'text03': #ababab,
  'border': #dadada,
  'BG':#fbfbfb,
  'bg':#eeeeee,
  'hover':#622e00,
);

$social: (
  'facebook-like': #4660b5, 
  'facebook': #39579a, 
  'twitter': #23cbff, 
  'pinterest': #df2109, 
  'google': #567EF0, 
  'google-plus': #DA4835, 
  'linkedin': #005987, 
  'rss': #EF922F, 
  'email': #1D90DD, 
  'primary': #0078E7
);

$alerts:(
  'success': #3A945B,
  'info': #2270C1,
  'warning': #DE770F,
  'danger': #DE2D0F
);

// transition
$global-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);


