// typography
// ===============

// .h1 { @include type(47px 600 1.2); }
// .h2 { @include type(47px 600 1.2); }
// .h3 { @include type(20px 700 uppercase); }
// .h4 { @include type(15px 700 uppercase); }
// .h5 { @include type(15px 700); }
// .h6 { @include type(47px 600 1.2); }

.container_main {

	h2  {
		@include type (28px $PTSans 1.6 );
		color :map-get($color, 'title');
		letter-spacing:5px;
		border-bottom:3px solid map-get($color, 'border');
		margin-bottom: 20px;
		}
	h3 {
		padding-bottom: 15px;
		@include type (15px $helvetica 1.6 uppercase );
		color :map-get($color, 'text02');
	    }	
	p {
		margin-bottom: 22px;
		color :map-get($color, 'text01');
		}

	 a{
       color :map-get($color, 'text02');

     }
     &:hover {
	      color :map-get($color, 'hover');
	    }	
}
.h2 {
	@include type (28px $PTSans 1.6  700);
	color :map-get($color, 'title');
	letter-spacing:4px;
	border-bottom:3px solid map-get($color, 'border');
	margin-bottom: 20px;
}
.h3 {
		padding-bottom: 10px;
		@include type (15px $helvetica 1.6 uppercase 700);
		color :map-get($color, 'text02');
	}	



// has-style
// .has-style {
//   h1, h2, h3, h4, h5 { margin-bottom: 10px; }
//   h1 { @include type(34px 1.2); }
//   h2 { @include type(26px 1.2); }
//   h3 { @include type(22px 1.3); }
//   h4 { @include type(16px 1.3); }
//   h5 { @include type(13px 1.4); }
//   p { 
//     @include type(15px 1.6); 
//     margin-bottom: 1.6em;
//   }
//   a {
//     color: lighten(map-get($color, brand), 20%);
//     &:hover {
//       text-decoration: underline;
//     }
//   }
//   address {
//     @include type(15px 1.5 style-normal);
//   }
//   ul, ol {
//     margin-left: 1.5em;
//   }
//   ol {
//     counter-reset: ol;
//     > li:before {
//       counter-increment: ol;
//       content: counters(ol, '.') ' ';
//     }
//   }
//   ul > li { list-style-type: square; }
//   li {
//     @include type(14px 1.7);
//     margin-bottom: 1em;
//   }
//   form {
//     label {
//       display: block;
//       margin-bottom: 0.3em;
//     }
//     ul, ol {
//       list-style: none;
//       margin-left: 0;
//     }
//     li {
//       &:before {
//         content: '';
//       }
//     }
//   }
//   .required label:after {
//     content: ' *';
//     color: map-get($alerts, danger);
//   }
// }
