@media (max-width: 41.875em) {
  .table-responsive.table, .table-responsive.table thead, .table-responsive.table tbody, .table-responsive.table th, .table-responsive.table td, .table-responsive.table tr {
    display: block; }
  .table-responsive.table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  .table-responsive.table tr:first-of-type td:first-of-type {
    border-top: 1px solid #dadada; }
  .table-responsive.table td {
    position: relative;
    padding-left: 35%;
    border-right-width: 0; }
    .table-responsive.table td:before {
      font-size: 15px;
      font-size: 0.9375rem;
      font-weight: 600;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      padding: 7px;
      width: 30%;
      height: 100%;
      color: #4e4438;
      border-right: 1px solid #dadada;
      box-sizing: border-box; }
  .table-job-list td:nth-of-type(1):before {
    content: ""; }
  .table-job-list td:nth-of-type(2):before {
    content: ""; }
  .table-job-list td:nth-of-type(3):before {
    content: ""; }
  .table-job-list td:nth-of-type(4):before {
    content: ""; }
  .table-job-list td:nth-of-type(5):before {
    content: ""; } }
