// footer
// ==========
footer {
	background-color: map-get($color, 'bg');
	.wrap_footer{
		padding-top: 30px;	
	}
}

.wrap_footer{
	.container_main{
	width:100%;
	overflow: hidden;	
		.footer_main_box01 {
			
			img {
				float: left; 
				margin-right: 25px;
				}
		.footer_box{		
			.footer_info {
				p{
				color :map-get($color, 'text02');
				@include type (11px $helvetica 1.2 400);
				margin-bottom: 7px;
				}	
		      }
		  .social_line {
			margin: 7px 0;
			 a {
			 	color:map-get($color, text01);
		        margin:0 3px;
		        cursor:pointer;
			 }
			 a:hover {color:map-get($color, hover);}
			}
		  }
		}
		.footer_main_box02 {
			float:right;
			width:70%;
			.footer_nav  {
				ul{
				float: left;
				padding:0 0 0 12%;
					a {
					    color :map-get($color, 'text02');	
						}
				}
				&:first-child {
					padding-left:0;
				}
				li{
				color :map-get($color, 'text03');
				@include type (15px $PTSans 1.2 400);
				margin-bottom: 8px;	
					a {
				    color :map-get($color, 'text03');	
					}
				}
				a:hover {
					color :map-get($color, 'hover');	
				}
				
				h4 {
				color :map-get($color, 'text02');
				@include type (17px $PTSans 1.2 600);
				margin-bottom: 13px;		
					}
				}	
		    }
		} 
         .copyright{
			    	text-align:right;
			        clear:both;
				    @include type (12px $helvetica 1.2 400);
				    color:map-get($color, text03);}
	}


@include bp('min' 921){
.wrap_footer{
	.container_main { 
			.footer_main_box01 {
				.footer_box {
					float: left;
				}
			}
	    }
    }	
}


@include bp('max' 920){
.wrap_footer{
	.container_main{	
		    .footer_mb{
		    	overflow: hidden;
		    	padding-bottom:20px;
				width:250px;
		    	margin: auto;
		    	img {float: left; margin-right: 25px;}
		    }
			.fooer_main_box01 {
				float: none;
				display: block;
				width: 100%;
		    }
			.footer_main_box02{
				float: none;
				display: block;
				width: 100%;
				.footer_nav {
					width: 100%;
					text-align: center;
				    display: inline-block;
				    ul{
					display: inline-block;
				    float: none;
				    padding:10px 8px;
					  }
					li{
					display: none;
					  }
					}
			     }  
			    .copyright{
			    	text-align:center;
			        clear:both;
			    }
			}
		} 
   }

@include bp('max' 400) {
	.wrap_footer {
		.container_main {
			.footer_main_box02 {
				 .footer_nav {
				 	 h4 {
				 	 @include type (12px $PTSans 1.2 600);	
				 	 }
				 }
            }
	 
	    }
    } 
}   

@include bp('max' 321) {
	.wrap_footer {
		.container_main {
			.footer_main_box02 {
				 .footer_nav {
				 	ul { padding: 10px 5px;}
				 	 h4 {
				 	 @include type (10px $PTSans 1.2 600);	
				 	 }
				 	 
				 }
            }
	 
	    }
    } 
}         