
// header
// ==========
.page { @include mobile-nav('slider-in' left '.site-nav' rgba(0, 0, 0, 0.2) 160px); }
.container {@include container(1115px 15px); 
}
.slider-wrap {
   width:100%;
   text-align:center;
    }
.banner {
  margin:0 auto;
    @include slider-gallery(3 autoplay-js);
    figure {
        @extend %clearfix;
        img { float: left; width: 100%; }
         }
}
// .site-head {
//    padding: 30px;  
//     box-sizing:border-box;
//     width:100%;
//     position: absolute;
//     z-index:100;
//       .wrap-head{
//         overflow: hidden;
//        }
//      .logo { float: left; 
//              width: nth($site-head, 1);
//            }
//        .wrap-head-dk {
//           color:#FFF;
//           float: right; 
//           text-align:right;
//            .nav { 
//                box-sizing: border-box;
//                    li {
//                        display: inline-block;
//                        @include type ($PTSans 1.6 uppercase);
//                        letter-spacing:1px;
//                        &:last-child {
//                          padding-right:40px;
//                        }
//                      }
//                    a {color:#fff;}
//             } 

//                 .head-search{
//                               position:relative;
//                               cursor:pointer;
//                               &.search-show{
//                                 #head-search {
//                                   width:150px;
//                                   padding-left: 10px;
//                                   padding-right: 10px;
//                                   color:#333;  
//                                    }
//                                   }
//                                 }  
//                            #head-search{
//                             border-width: 0;
//                             border-radius: 0;
//                             padding:0;
//                             width:0;
//                             position: absolute;
//                             right:25px;
//                             top:-43px;
//                             font-size: 13px;
//                             padding:5px 0;
//                           } 
//                     } 
                   
// }
// @include bp('min' 1001) {
// .site-head{
//         .nav {
//           li {padding: 20px 20px 20px 0px ; 
//           font-size: 15px; 
//           }
//          } 
//       }
// }    
 
// @include bp('max' 1000) {
//     .page { @include mobile-nav('slide-in' left 'nav' rgba(black, 0.2) 200px 0.5s);
//     // I added newly //
//     .outer {display: none;}
//     // .slider-wrap {margin-bottom: 90px;}
//     // I added newly //
//     .site-head{
//         padding: 15px;
//         background-color: map-get($color, brand);

//           .wrap-head{
//               .logo { 
//                    float:none; text-align: center;
//                    width:100%;
//                    img {width: nth($site-head, 3);}
//                    }
//               .nav {
//                 padding: 20px;
//                 background-color: map-get($color, brand);
//                 li {
//                   display: block;
//                   text-align: left;
//                   padding:5px 0;
//                   font-size: 13px;
//                 }
//               }
//               .wrap-tool{
//                position: fixed;
//                top:35px; left:20px;
//                 .wrap-tool-mb {
//                   width:auto;
//                   position: absolute;
//                 .i-menu {position:fixed; right:20px; }
//                 .i-search {position: absolute;  }

//                 .head-search{
//                               position:relative;
//                               cursor:pointer;
//                                 }  
//                            #head-search{
//                             left: 30px;
//                             top:-4px;
//                           } 
//               }
//             } 
//           }
//         }
//       } 
//     }
.site-head {
   padding: 30px;  
    box-sizing:border-box;
    width:100%;
    position: fixed;
    z-index:100;
      .wrap-head{
        overflow: hidden;
       }
     .logo { float: left; 
            width: nth($site-head, 1);
           }
       .wrap-head-dk {
          color:#FFF;
          float: right; 
          text-align:right;
           .nav { 
               box-sizing: border-box;
                   li {
                       display: inline-block;
                       @include type ($PTSans 1.6 uppercase);
                       letter-spacing:1px;
                       &:last-child {
                         padding-right:40px;
                         }
                       }
                   a {color:#fff;}
            } 

                .head-search{
                              position:relative;
                              cursor:pointer;
                              &.search-show{
                                #head-search {
                                  width:150px;
                                  padding-left: 10px;
                                  padding-right: 10px;
                                  color:#333;  
                                   }
                                  }
                                }  
                           #head-search{
                            border-width: 0;
                            border-radius: 0;
                            padding:0;
                            width:0;
                            position: absolute;
                            right:25px;
                            top:-42px;
                            font-size: 13px;
                            padding:5px 0;
                          } 
                    } 
                   
}
@include bp('min' 1025) {
.site-head {
        .nav {
          li {
          padding: 20px 20px 20px 0px ; 
          font-size: 15px; 
          }
        } 
      }
}    
@include bp('min' 951) {
.site-head {  
    .nav{
       margin-left:auto;
      li {
         font-size: 13px; 
         padding: 20px 25px 20px 0px ;
        }
    }
    .wrap-tool{
              .i-menu{display: none;}
              .i-search { position: absolute; right:0; top:-38px;}
               }
  } 
}  
@include bp('max' 950) {
    .page { @include mobile-nav('slide-in' left 'nav' rgba(black, 0.2) 200px 0.5s);
    .site-head{
        padding: 20px;
        background-color: map-get($color, brand);
          .wrap-head{
              .logo { 
                   width:100%;
                   float:none; text-align: center;
                   img {width: nth($site-head, 3);}
                   }
              .nav {
                padding: 20px;
                background-color: map-get($color, brand);
                li {
                  display: block;
                  text-align: left;
                  padding:5px 0;
                  font-size: 13px;
                }
              }
              .wrap-tool{
               position: fixed;
               top:35px; left:20px;
                .wrap-tool-mb {
                  width:auto;
                  position: absolute;
                .i-menu {position:fixed; right:20px; }
                .i-search {position: absolute;  }

                .head-search{
                              position:relative;
                              cursor:pointer;
                                }  
                           #head-search{
                            left: 30px;
                            top:-4px;
                          } 
              }
            } 
          }
        }
      } 
    }

