// article
// =============

//sub_header //

.img_sub{ position: absolute; width:100%; z-index: 0; text-align:center; }
// header
// ==========
.page { @include mobile-nav('slider-in' left '.site-nav' rgba(0, 0, 0, 0.2) 160px); }
.container {@include container(1115px 15px); 
  h1 {@include type (36px $helvetica 1.1)}
}
.byline-dateline{
  color :map-get($color, 'text01');
  margin: 15px 0 35px 0;
}
.site-head-sub {
  background-color: map-get($color, brand);
  // opacity: 0.9;
   padding: 30px;  
    box-sizing:border-box;
    width:100%;
    position: fixed;
    z-index:100;
      .wrap-head{
        overflow: hidden;
       }
     .logo { float: left; 
            width: nth($site-head, 1);
           }
       .wrap-head-dk {
          color:#FFF;
          float: right; 
          text-align:right;
           .nav { 
               box-sizing: border-box;
                   li {
                       display: inline-block;
                       @include type ($PTSans 1.6 uppercase);
                       letter-spacing:1px;
                       &:last-child {
                         padding-right:40px;
                         }
                       }
                   a {color:#fff;}
            } 

                .head-search{
                              position:relative;
                              cursor:pointer;
                              &.search-show{
                                #head-search {
                                  width:150px;
                                  padding-left: 10px;
                                  padding-right: 10px;
                                  color:#333;  
                                   }
                                  }
                                }  
                           #head-search{
                            border-width: 0;
                            border-radius: 0;
                            padding:0;
                            width:0;
                            position: absolute;
                            right:25px;
                            top:-42px;
                            font-size: 13px;
                            padding:5px 0;
                          } 
                    } 
                   
}
@include bp('min' 1025) {
.site-head-sub {
        .nav {
          li {
          padding: 20px 20px 20px 0px ; 
          font-size: 15px; 
          }
        } 
      }
}    
@include bp('min' 951) {
.site-head-sub {  
    .nav{
       margin-left:auto;
      li {
         font-size: 13px; 
         padding: 20px 25px 20px 0px ;
        }
    }
    .wrap-tool{
              .i-menu{display: none;}
              .i-search { position: absolute; right:0; top:-38px;}
               }
  } 
}  
@include bp('max' 950) {
    .page { @include mobile-nav('slide-in' left 'nav' rgba(black, 0.2) 200px 0.5s);
    .site-head-sub {
        padding: 20px;
        background-color: map-get($color, brand);
          .wrap-head{
              .logo { 
                   width:100%;
                   float:none; text-align: center;
                   img {width: nth($site-head, 3);}
                   }
              .nav {
                padding: 20px;
                background-color: map-get($color, brand);
                li {
                  display: block;
                  text-align: left;
                  padding:5px 0;
                  font-size: 13px;
                }
              }

              .wrap-tool{
               position: fixed;
               top:35px; left:20px;
                .wrap-tool-mb {
                  width:auto;
                  position: absolute;
                .i-menu {position:fixed; right:20px; }
                .i-search {position: absolute;  }

                .head-search{
                              position:relative;
                              cursor:pointer;
                                }  
                           #head-search{
                            left: 30px;
                            top:-4px;
                          } 
              }
            } 
          }
        }
      } 
    }


.container_article { 
	@extend .container;
	padding: 30px 0;
	min-height:400px;

		p {
		margin-bottom: 22px;
		color :map-get($color, 'text01');
		}
	}
.article_box_l {
		padding: 0 0 0 15px;	
		}
.article_box_r {
		padding: 0 15px 0 0;
		h2  {
		@include type (28px $PTSans 1.6 );
		color :map-get($color, 'title');
		letter-spacing:5px;
		border-bottom:3px solid map-get($color, 'border');
		margin-bottom: 20px;
		}
}

@media screen and (max-width: 819px) {
	.img_sub{display: none;}
	.container_article {padding-top:130px; min-height:0;
	}
	.article_box_l {
		display: none;
	}
	.article_box_r{
		padding: 0 15px;
	}
}

@media screen and (min-width: 820px) {
  .container_article {
    @include two-columns(left 300px gutter 30px);
      padding-top:270px;
  }
}

@media screen and (min-width: 979px) {
  .container_article {
    @include two-columns(left 300px gutter 30px);
      padding-top:380px;
  }
}

@media screen and (min-width: 1150px) {
  .container_article {
    @include two-columns(left 300px gutter 30px);
      padding-top:400px;
  }
}
@media screen and (min-width: 1920px) {
  .container_article {
    @include two-columns(left 300px gutter 30px);
      padding-top:420px;
  }
}
.info_box {
	padding: 20px;
}
.mail { 
  a{
	color: map-get($color, text02);
  }
	a:hover {
		color: map-get($color, hover);
			}
	}

// @media screen and (min-width: 820px)  {
// 	.container_article{
// 		padding-left:300px;
// 		&:after {
// 			clear:both;
// 			display: table;
// 			content: "";
// 		}
// 		.article_box_l {
// 			float: left;
// 			width: 300px;
// 			margin-left: -300px;
// 		}
// 	}

// @media screen and (min-width: 820px) {
// 	.container_article {
// 		.article_box_l{
// 			display: table-cell;
// 			width: 300px;
// 				.logo_img {
// 					width:300px;
// 				}
// 		    }
// 		.article_box_r {
// 			display: table-cell;
// 			vertical-align: top;
// 			width: 10000px;
// 		}    
// 	}
// }

// @media screen and (min-width: 820px) {
// 	.container_article {
// 		display: flex;
// 		.article_box_l {
// 			flex: 0 0 300px;
// 		}
// 		.article_box_r {
// 			float: 1 1 auto;
// 		}
// 	}
// }
//  .nav-dk {
// 	li{
// 		display: inline-block;
// 		padding-right: 20px;
// 	}
// }     