// home
// ===========
html {
	background-color: map-get($color, BG);
}

.banner {
	position: absolute;
 @include slider-gallery(3 autoplay-js);
   figure {
     @extend %clearfix;
     }
 }

.home-slider {
  @include slider-gallery(3 autoplay-js);
  position: relative;
  figure {
  	width:100%;
    @extend %clearfix;
  }
  li { 
  .text {
    box-sizing: border-box;
    text-align:center;
    a { color: #fff; }
    h2 { 
      @extend .container;
      text-shadow:1px 1px 2px rgba(0,0,0,0.4);
    }

    @include bp('min' 1001) {
      position: absolute;
      bottom: 4px;
      left: 0;
      width: 100%;
      h2 { @include type(36px 1.4); 
      padding:70px 100px 50px 100px;
      }
    }

    @include bp('max' 1100) {
    	h2 {display:none;}

    } 
   }
  }
}
 
.container_main {
	@extend .container;
	padding:30px 15px;
	.main_box01 {	
		float: left;
		overflow:hidden;
		width:31.3%;
		margin-right:2%;
		figure {
			margin-bottom: 20px;
			}
		}
	.main_box02 { 
		float:right;
		width:100%-33.3%;
		.main_box01_l {
			padding: 0 2% 0 0;
			float: left;
			overflow:hidden;
			width: 48%;
	        }
		.main_box01_r{
			padding: 0 2% 0 0;
			float: right;
			overflow:hidden;
			width: 48%;
		    }
	    }
	.main_box03 {
			float: left;
			overflow:hidden;
			width:31.3%;
			margin-right:2%;
		   }      
    .main_box04 {
			float: left;
			overflow:hidden;
			width:33.3%;
		   } 
       }
.wrap_footer{
	background-color: map-get($color, 'bg');
}    
.container_footer{
	padding:30px 0;
	@extend .container;
}


@include bp('max' 550) {
	.container_main {
		padding: 15px;
		h2 {margin-top: 20px;}
		.main_box01 {	
			float: none;
			width:100%;
			figure {
				margin-bottom: 20px;
				}
			.logo_img {display: none;}
			}
		.main_box02 { 
			float: none;
			width:100%;
			.main_box01_l {
				padding: 0 2% 0 0;
				width: 100%;
		        }
			.main_box01_r {
				padding: 0 2% 0 0;
				float: none;
				width: 100%;
			    }
		    }
	    .main_box03, .main_box04 {
				float: none;
				width:100%;
				p{display: none;}
			   } 

            }     		
       }    

