// section
// =============
.page_more {
	width:100%;
	text-align:center;
	padding:10px 0;
	display: block;
	background-color: map-get($color, text03);
	color:#fff;
	margin:20px 0;
	cursor:pointer;
}
.headline-content {
	border-bottom:3px solid map-get($color, 'border');
	h3 {
		@include type (30px $helvetica 1.2 900);
		margin-bottom: 20px;
		a {
			color: map-get($color, brand);
			&:hover{
			color: map-get($color, hover);	
			}
		}
	}
	p {
		color :map-get($color, 'text01');
		@include type (15px $helvetica 1.6 );
		}
}

.news-list {
	.media {width:120px;}
	h3 {
		@include type (18px $helvetica 1.2);
		margin-bottom: 10px;
		a {
			color: map-get($color, brand);
			&:hover{
			color: map-get($color, hover);	
			}
		}
	}
	li {
		padding:22px 0;
		color :map-get($color, 'text01');
		@include type (14px $helvetica 1.5 );
		border-bottom: 1px solid map-get($color,border);
		&:last-child {
			border:none;
		   }
		}
	}	

.byline-dateline{
  font-size: 13px;
  color :map-get($color, 'text01');
  margin: 15px 0 35px 0;
}

@include bp(min 421){
.headline-content {
	padding: 15px;
	overflow:hidden;
	clear:both;
	img {  
		float: left;
	    margin-right: 20px;
	    margin-bottom: 10px;
  }
}
.news-list {
	.media {
	  display: table-cell;
	  vertical-align: top;
	  padding-right: 20px;
	}
	.media-body {
	  display: table-cell;
	  vertical-align: top;
	  // width: 10000px;
	   }
    }
}

@include bp(max 980) {
	.headline-content {
		img {
					display: block;
					float: none;
					width:100%;
					margin-bottom: 10px;
				}
	}
}
@include bp(max 420) {
	.news-list {

		.media {display: none;}
	}
}

.article-story {
	img {float: left; margin-bottom: 20px; margin-right: 20px;}
	
}
@include bp(max 980) {
	.container_article{
			.article-story{
				img {
					float: none;
					display: block;
					margin:22px auto;
					text-align:center;
				}
				h1{
				@include type (28px $helvetica 1.2 600);
				}
			}
		}
}

//RESOURCE
.resource {
	padding-top:15px;
	li {
	position: relative;
	margin-bottom: 25px;
		a {
			color: map-get($color, text02);
			&:hover {
				color: map-get($color, hover);
			    } 
		   }
	} 
}
@include bp(min 501) {
	.resource {
	@include type (16px $helvetica 1.2 600);
	}
}
@include bp(max 500) {
	.resource {
	@include type (13px $helvetica 1.2 600);
	    }
    }

.i-download { 
	position: absolute;
	top:2px;
	margin-left: 7px;
	cursor:pointer; 
	color: map-get($color, text02);
	}
//Legal Aid

.legal_list	{
	margin-top:15px;
	li{
		padding:5px;
	};
}